@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Roboto-Light.ttf);
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.8;
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
        margin: 0 auto;
    }
}

ul li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

a:hover,
a:focus {
    text-decoration: none;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons-Regular.ttf);
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 70px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.header--bg {
    background: url("../images/header-background.png") no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.header--bg:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: -webkit-linear-gradient(45deg, #2DCBF9, #046BF5, #0A38F7);
    opacity: 0.6;
    z-index: -1;
}

.header__content {
    padding-top: 200px;
    padding-bottom: 140px;
}

.header__content__title {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    margin-top: 0;
}

.header_subtitle {
    color: #fff;
}

.navbar .navbar-nav>li>a,
.navbar .navbar-brand,
.navbar .navbar-nav>li>a:focus {
    background-color: transparent;
    color: #fff;
}

.nav li a {
    font-size: 18px;
}

.navbar {
    padding-top: 30px;
}

.navbar-nav {
    margin: 0px -20px;
}

.navbar-toggle {
    background-color: #ddd;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-brand {
    font-size: 25px;
    font-family: Roboto-Light;
    font-weight: bold;
    padding-left: 45px;
    display: inline;
}

.header-logo {
    width: 5em;
}

@media (min-width: 768px) {
    .nav {
        float: right;
    }
}

.page-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.page-section__title {
    font-size: 35px;
    color: #273f59;
    text-align: center;
    font-weight: bold;
}

.page-section__title--white {
    color: #fff;
}

.page-section__title-style {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.page-section__paragraph {
    font-size: 20px;
    color: #2B2A2A;
    max-width: 800px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
}

.page-section__paragraph--white {
    color: #fff;
    line-height: 1.8;
}

.about__container--narrow {
    max-width: 1245px;
    margin-right: auto;
    margin-left: auto;
}


.skill--bg {
    background: url("../images/skill-background.png") no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.skill--bg:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: -webkit-linear-gradient(45deg, #0A38F7, #046BF5, #2DCBF9);
    opacity: 0.8;
    z-index: -1;
}

.skill__container--narrow {
    max-width: 1245px;
    margin-right: auto;
    margin-left: auto;
}

.skill .thumbnail {
    padding: 10px 40px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.skill .thumbnail .progress-bar {
    border-radius: 10px;
    width: 80%;
}

.skill .thumbnail .progress {
    height: 8px;
    background-color: #E1E1E1;
}

.skill__single-part__title {
    font-size: 15px;
    color: #273f59;
    margin-bottom: 30px;
    margin-top: 5px;
    font-weight: bold;
}

.gutters-60.row {
    margin-right: -30px;
    margin-left: -30px;
}

.gutters-60>[class^="col-"],
.gutters-60>[class^="col-"] {
    padding-right: 30px;
    padding-left: 30px;
}



.item .gutters-60 {
    margin: 10px;
}


.carousel-control.left,
.carousel-control.right {
    background-image: none !important;
    filter: none !important;
    position: absolute;
    top: 60%;
}


.portfolio {
    margin-bottom: 10%;
}

.portfolio__single-section {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;

}

.portfolio__single-section__image {
    display: block;
    height: auto;
}

.portfolio__single-section h4 {
    font-size: 20px;
    font-family: Roboto-Light;
    font-weight: bold;
    color: #fff;
}

.portfolio__single-section p {
    font-weight: 15px;
    color: #fff;
    font-family: Roboto-Light;
    font-weight: bold;
}

.portfolio__single-section__search-icon {
    position: absolute;
    left: 45%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.portfolio__single-section .overlay-content {
    position: absolute;
    bottom: 25px;
    margin-left: 35px;
    z-index: 10;
}

.portfolio__single-section__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    background-color: rgb(0, 109, 255, .9);
    border-radius: 10px;
}

.portfolio__single-section:hover .portfolio__single-section__overlay {
    opacity: 1;
}

@media(max-width: 991px) {
    .portfolio__single-section {
        max-width: 340px;
        margin-right: auto;
        margin-left: auto;
    }

}

.progress {
    overflow: visible;
}


.footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer--bg {
    background-color: #27353B;
}

.footer__title {
    font-size: 30px;
    color: #fff;
    font-family: Roboto-Light;
    font-weight: bold;
    margin-bottom: 40px;
}

.footer__contact-information li {
    display: inline-block;
}

.footer__contact-information li a {
    font-size: 20px;
    color: #9ca1a3;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
}

.footer__contact-information .material-icons {
    font-size: 15px;
    padding-right: 10px;
    position: relative;
    top: 3px;
}


.footer__paragraph {
    font-size: 20px;
    color: #fff;
    font-family: Roboto-Light;
}

.phone-icon {
    width: 1em;
    margin-right: 8px;
}