@font-face {
  font-family: 'notosans-bold';
  src: url("../fonts/NotoSans-Bold.ttf");
}

* {
  font-family: 'notosans-bold';
}

html,
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  font-family: 'notosans-bold';
  height: 15vh;
}

.title {
  font-size: 30px;
  color: #2c2c2c;
  margin-left: 25px;
  line-height: 60px;
}

.header-logo {
  max-width: 5%;
  min-width: 3rem;
  margin-left: 15px;
  height: auto;
  cursor: pointer;
}

.tooltip {
  width: 160px;
  height: 40px;
  background: #2e2e2e;
  color: #fff;
  opacity: 0.8;
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 25px;
  right: 100px;
}
.tooltip ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.tooltip ul span {
  font-size: 16px;
}
.tooltip ul li {
  margin-top: -5px;
}
.tooltip .triangle {
  position: relative;
  left: 19px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid #2e2e2e;
  border-bottom: 10px solid transparent;
}

.gear-logo {
  max-width: 4%;
  min-width: 2rem;
  height: auto;
  right: 25px;
}

.modal-trigger:hover {
  opacity: 0.5;
  cursor: pointer;
}

.app-bg {
  width: 100vw;
  height: 85vh;
  background-image: url("../images/bg/cloud-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  overflow: hidden;
}

.info {
  box-sizing: border-box;
  width: 100%;
  margin: 4vh auto;
}

.city-info {
  text-align: center;
}
.city-info ul li {
  margin: auto;
  border-bottom: 0;
  padding: 0;
  margin-top: 3%;
  cursor: default;
  width: 80%;
  display: none;
}
.city-info ul li img {
  max-width: 5em;
  height: auto;
  margin-left: 10px;
}

.second-info ul li {
  margin-top: 5%;
}

.weather-format {
  font-weight: bold;
  margin-left: 32px;
  cursor: pointer;
}

.w3-tooltip .w3-tag,
.w3-tooltip .w3-text {
  font-size: 10px;
  opacity: 0.8;
}

#city-input {
  width: 90%;
  outline-width: 0;
  border-width: 0;
  font-size: 1.2rem;
  background: #ffff;
}

.input-container {
  display: flex;
  height: 3rem;
  margin: 0 auto;
  background: #ffff;
  width: 40%;
}

.select-container {
	position: relative;
}

.select-container::after {
	position: absolute;
	content: "\2B9F";
  color: #033a96;
  font-size: 2rem;
  top: 15%;
  right: 31%;
}

.select-container-down::after {
	content: "\2B9D";
}

#country-select {
  width: 40%;
  outline-width: 0;
  background-color: #fff;
  padding-left: 10px;
  height: 3em;
  margin: 10px 30%;
  cursor: pointer; 
}

.erase {
  color: #033a96;
  align-self: center;
  width: 10%;
  text-align: center;
  cursor: pointer;
}

.city-name,
.city-time,
.city-hum,
.city-features {
  font-size: 7vh;
  font-weight: 600;
}

.city-tempc,
.temp-ico {
  font-size: 14vh;
  font-style: italic;
  font-weight: bolder;
}

.shadow, .city-feels,
.feels-ico, .city-tempc,
.temp-ico {
  text-shadow: 3px 2px 0px #696767, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

.city-feels,
.feels-ico {
  font-size: 8vh;
  font-weight: bolder;
}

.w3-modal-content {
  width: 50%;
}

.w3-panel {
  width: 60%;
  position: absolute;
  top: -15px;
  text-align: center;
  left: 20%;
  border-radius: 10px;
  padding: 10px 0;
  display: none;
  opacity: 0.9;
}

