<!DOCTYPE html>
<html lang="en" ng-app="weatherApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/weather.css" type="text/css">
    <script src="lib/js/angular.min.js"></script>
    <script src="lib/js/jquery-3.5.1.min.js"></script>
    <script src="lib/js/popper.min.js"></script>
    <script src="lib/js/bootstrap.min.js"></script>

    <title>weather app</title>
</head>

<body ng-controller="weatherController">
    <header ng-include="'views/header.html'"></header>
    <div id="app-bg" class="container-fluid">

        <div ng-show="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
            <h3 class="alert-text">Your search doesnt match anything</h3>
            <button type="button" ng-click="showAlert = false" class="close">
                <span>&times;</span>
            </button>
        </div>

        <div class="text-center input-container">
            <div class="input-group" ng-class="{'input-danger': isEmpty || showAlert}">
                <input type="text" ng-keyup="alertEnter(event)" ng-model="cityInput" class="the-input"
                    placeholder="Enter a city name">
                    <span class="btn x-input" ng-click="cityInput = ''">&times;</span>
            </div>
            <small class="text-danger" ng-show="isEmpty">
                You must type a city name then press enter !</small>
        </div>

        <div class="temp_info">
            <ul>
                <li>
                    <span data-toggle="tooltip" data-placement="top" title="The city you've searched"
                        class="city_name"></span></li>

                <li><span class="city_temp"></span></li>

                <li>
                    <span data-toggle="tooltip" data-placement="top" title="Feels like" class="city_feels_like"></span>
                </li>

                <li>
                    <span data-toggle="tooltip" data-placement="top" title="Features" class="city_des"></span>
                </li>

                <li>
                    <span data-toggle="tooltip" data-placement="top" title="Humidity" class="city_hum"></span></li>
            </ul>
        </div>
    </div>



    <div class="modal" id="info-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">How to use</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>To use this app type in a city name then press the Enter key or the Done button on a 
                  smartphone, make sure to type a existing city name.</p>
            </div>
     
          </div>
        </div>
      </div>
</body>
<script src="scripts/weather.js"></script>

</html>