
body {
background-image: url('../images/tictac.jpg');
}

.tic-block {
    width: 50%;
	background: white;
    height: 30em;
    border: 1px solid black;
    margin: 5% auto;
    display: grid;
   
}

#theModal {
    width: 50%;
    height: 12em;
    background: lightblue;
    margin: 2% auto;
    text-align: center;
    border-radius: 5px;
    font-family: arial;
    display: none;
}

body h1 {
text-align: center;
}

#theModal h1 {

margin-bottom: 1em;
}

#theModal h2 {
margin-bottom: 2em;
}

.tic-block div {
    width: 100%;
    border-bottom: 0.5px solid black;
    display: flex;
}

.tic-block div div {

    max-width: 33.33%;
    max-height: 100%;
    border: 1px solid black;
    background-size: 14em 10em;
    background-repeat: no-repeat;
    
}

.radio-div {
    width: 50%;
	text-align: center;
	margin-left: 25%;
}

label {
    display: inline;
	font-size: 20px;
	font-family: arial;
}

.start-btn {
 width: 150px;
 height: 2.5em;
 font-weight: bold;
 border-radius: 4px;
 margin: 2% 30%;
}


audio {
    display: none;
}


@media only screen and (max-width: 768px) {
    .tic-block {
        width: 70%;
    }
    
}




@media only screen and (max-width: 500px) {
    .tic-block {
        width: 100%;
    }
	
	.radio-div {
		width: 100%;
		margin: 0;
	}
	
	#theModal {
		width: 80%;
	}
}