body,
html {
    margin: 0;
    padding: 0;
    background-color: #d0cff1;
}

.tic-block {
    width: 28em;
    background: #FFF;
    height: 28em;
    border: 1px solid black;
    margin: 1% auto;
    display: grid;

}

#theModal {
    width: 50%;
    height: 6em;
    background: lightblue;
    text-align: center;
    border-radius: 5px;
    font-family: arial;
    position: absolute;
    top: 1%;
    left: 25%;
    right: 25%;
    display: none;
}

#theResult {
    line-height: 2em;
}

body h1 {
    text-align: center;
    font-size: 1.5em;
    margin: 1% auto;
    font-family: verdana;
}

#theModal h1 {

    margin-bottom: 1em;
}

#theModal h2 {
    margin-bottom: 2em;
}

.tic-block div {
    width: 100%;
    border-bottom: 0.5px solid black;
    display: flex;
}

.tic-block div div {
    border: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
}

.radio-div {
    width: 50%;
    text-align: center;
    margin-left: 25%;
}

label {
    display: inline;
    font-size: 20px;
    font-family: arial;
}

.start-btn {
    width: 150px;
    height: 2.5em;
    font-weight: bold;
    border-radius: 4px;
    margin: 4% 30% 1%;
}

hr {
    position: absolute;
    height: 1em;
    background-color: red;
    border-width: 0px;
}

.line_0_1_2 {
    width: 28em;
    top: 14em;
    display: none;
}

.line_3_4_5 {
    width: 28em;
    top: 23em;
    display: none;
}

.line_6_7_8 {
    width: 28em;
    top: 32em;
    display: none;
}

.line_0_3_6 {
    transform: rotate(90deg);
    width: 28em;
    left: 19.5em;
    top: 23em;
    display: none;
}

.line_1_4_7 {
    transform: rotate(90deg);
    width: 28em;
    left: 28.5em;
    top: 23em;
    display: none;
}

.line_2_5_8 {
    transform: rotate(90deg);
    width: 28em;
    left: 38em;
    top: 23em;
    display: none;
}

.line_0_4_8 {
    transform: rotate(45deg);
    width: 38em;
    left: 23.5em;
    top: 23em;
    display: none;
}

.line_2_4_6 {
    transform: rotate(-45deg);
    width: 38em;
    left: 23.5em;
    top: 23em;
    display: none;
}




audio {
    display: none;
}


@media only screen and (max-width: 768px) {
   body {
       margin: 0;
   }


   body h1 {
       margin: 3% auto;
   }

   .start-btn {
       margin: 7% 30% 2%;
   }
   
   .tic-block div div {
    background-size: 100% 100%;
}
   
    .tic-block {
        width: 65%;
    }

    .line_0_1_2 {
        width: 65%;
        top: 21%;

    }

    .line_3_4_5 {
        width: 65%;
        top: 36%;

    }

    .line_6_7_8 {
        width: 65%;
        top: 51%;

    }

    .line_0_3_6 {
        transform: rotate(90deg);
        width: 58%;
        left: -1%;
        top: 36%;

    }

    .line_1_4_7 {
        transform: rotate(90deg);
        width: 58%;
        left: 20%;
        top: 36%;

    }

    .line_2_5_8 {
        transform: rotate(90deg);
        width: 58%;
        left: 42%;
        top: 36%;

    }

    .line_0_4_8 {
        transform: rotate(41deg);
        width: 84%;
        left: 8%;
        top: 36%;

    }

    .line_2_4_6 {
        transform: rotate(-41deg);
        width: 84%;
        left: 8%;
        top: 36%;

    }

}




@media only screen and (max-width: 450px) {
    .tic-block {
        width: 90%;
        height: 25em;
        margin: 0 auto;
        padding: 0;
    }

    .radio-div {
        width: 100%;
        margin: 0;
    }

    


    #theModal {
        width: 80%;
        left: 10%;
        right: 10%;
    }

    .tic-block div div {
        background-size: 100% 100%;
    }


    .line_0_1_2 {
        width: 90%;
        top: 28%;

    }

    .line_3_4_5 {
        width: 90%;
        top: 46%;

    }

    .line_6_7_8 {
        width: 90%;
        top: 64%;

    }

    .line_0_3_6 {
        transform: rotate(90deg);
        width: 90%;
        left: -25%;
        top: 46%;

    }

    .line_1_4_7 {
        transform: rotate(90deg);
        width: 90%;
        left: 5%;
        top: 46%;

    }

    .line_2_5_8 {
        transform: rotate(90deg);
        width: 90%;
        left: 35%;
        top: 46%;

    }

    .line_0_4_8 {
        transform: rotate(46deg);
        width: 120%;
        left: -11%;
        top: 45%;

    }

    .line_2_4_6 {
        transform: rotate(-46deg);
        width: 120%;
        left: -10%;
        top: 45%;

    }
}