<nav class="navbar">
    <div class="navbar-start">

        <a class="navbar-item title" href="/">
            <img src="../images/icons/covid-logo.png" class="covid-logo" alt="">
            <span>Covid app</span></a>
    </div>
    <div class="navbar-brand">
        <a role="button" ng-click="showLinks()" class="navbar-burger burger" arial-label="menu" aria-expanded="false" data-target="menu">
            <span arial-hidden="true"></span>
            <span arial-hidden="true"></span>
            <span arial-hidden="true"></span>
        </a>
    </div>


    <div id="menu" class="navbar-menu mr-3">
        <div class="navbar-end">
            <a href="/covid-news" class="navbar-item">
                Covid feeds
            </a>

            <a href="/world-data" class="navbar-item">
                cases per continent
            </a>

            <a href="/countries" class="navbar-item">
                cases per country
            </a>

        </div>
    </div>
</nav>