<div class="container has-text-centered my-5">
    <span class="is-size-2 is-size-4-mobile world-cases">There are <span class="has-text-weight-bold world-num">{{worldNum}}</span> cases worldwide</span>
    <div class="map-container mt-4">
        <svg class="mt-4" width="1200" height="600" length="auto" viewBox=" 0 0 1000 600">
        </svg>
    </div>
</div>


<div class="circle-modal">
    <div class="container">
        <div class="close-circle">
            <span class="close-ico"> &#10006;</span>
        </div>
        <ul>
            <li>Continent : <span class="data-span"></span></li>
            <li>Total cases : <span class="data-span"></span></li>
            <li>Today cases : <span class="data-span"></span></li>
            <li>Total deaths : <span class="data-span"></span></li>
            <li>Today deaths : <span class="data-span"></span></li>
            <li>Total recovered : <span class="data-span"></span></li>
            <li>Today recovered : <span class="data-span"></span></li>
        </ul>
    </div>
</div>