<div class="container has-text-centered my-5">
    
    <h1 class="title my-5">This is the worldwide covid cases</h1>
    <div class="field">
        <div class="control">
            <input type="text" class="input is-info" 
            placeholder="Type a country name to filter your search" ng-model="search" />
        </div>
    </div>

    <div class="table-container">
        <table class="table table is-bordered 
        is-hoverable is-fullwidth is-narrow">
        <thead>
            <tr>
                    <th>Flag</th>
                    <th>Country</th>
                    <th>Confirmed cases</th>
                    <th>Confirmed deaths</th>
                    <th>Confirmed recovered</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="country in tabCountry | orderBy: '-cases' | filter: search">
                    <td><img src={{country.countryInfo.flag}} width="50px" alt="this country flag"></td>
                    <td>{{country.country}}</td>
                    <td>{{country.cases}}</td>
                    <td>{{country.deaths}}</td>
                    <td>{{country.recovered}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>